<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Mail Body</title>
</head>
<body>
    <h2>Monthly Report Attached</h2>
    <p>
        Dear {{full_name}},
    </p>
    <p>
        Please find attached the monthly report for {{ month_year }}.
    </p>
    <p>
        If you have any questions or need further information, feel free to contact us.
    </p>
    <p>
        Thank you.
    </p>
    <p>
        Sincerely,<br>
        LMS team
    </p>
</body>
</html>
